.footer {
    height: 80px;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}