.home {
    display: flex;
    margin-top: 70px;
    min-height: 86vh;
}
  
.homeContainer {
  flex: 6;
}
  
.widgets {
display: flex;
gap: 20px;
}

.listTitle {
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
}
